<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="5 seconds" debug="false">
    <!--关闭自身日志-->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <conversionRule conversionWord="json" converterClass="ch.qos.logback.core.LogbackJsonConvert"/>

    <property name="LOG_PATH" value="target/logs"/>
    <property name="LOG_PATTERN" value="%json%n"/>

    <!-- 日志记录器，日期滚动记录 -->
    <appender name="file_info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 正在记录的日志文件的路径及文件名 -->
        <file>${LOG_PATH}/app.log</file>
        <!-- 追加方式记录日志 -->
        <append>true</append>
        <!-- 过滤重设时间，一般是当调试服务器或者调试活动的时候手动改时间需要触发 -->
        <filter class="ch.qos.logback.core.LogbackResetTimeFilter">
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <!-- 日志文件的格式 -->
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                    <prettyPrint>false</prettyPrint>
                </jsonFormatter>
                <appendLineSeparator>true</appendLineSeparator>
                <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
            </layout>
        </encoder>
        <!--  这个狗东西必须放后面 否则不生效-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/logback/app-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>20</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 日志文件的格式 -->
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                    <prettyPrint>false</prettyPrint>
                </jsonFormatter>
                <appendLineSeparator>true</appendLineSeparator>
                <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
            </layout>
        </encoder>
    </appender>

    <logger name="io.netty" level="info" additivity="false"/>
    <logger name="com.zaxxer.hikari" level="info" additivity="false"/>
    <logger name="org.mongodb.driver" level="info" additivity="false"/>

    <!-- 生产环境下，将此级别配置为适合的级别，以免日志文件太多或影响程序性能 -->
    <root level="debug"> <!-- ERROR, WARN, INFO, DEBUG -->
        <appender-ref ref="file_info"/>
        <appender-ref ref="console"/>
    </root>

</configuration>
